venv/
python-bigquery/
python-storage/
zips/
va/
venv_2/

key-vlille.json
key-vlille-gcp.json
cf_get_data_and_store_to_gcs/key-vlille.json
docker_storage_copy_files/key-vlille.json
key-dataflow-sa-yzpt.json


./requirements.txt
./requirements_va.txt
requirements_va.txt
requirements_venv2.txt